ApiTemplate/bin/
ApiTemplate/obj/
Common/bin/
Common/obj/
Entities/bin/
Entities/obj/
MongoDb/obj/
Repository/bin/
Repository/obj/
Services/bin/
Services/obj/
.vs/
/ODataServer/bin/Debug/netcoreapp2.0
/ODataServer/obj
obj/
ODataServer/bin/
/docker-compose.dcproj.user
/Service.Test/bin
